* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    height: 100vh;
}


.container {
    display: flex;
    width: 100%;
}


.sidebar {
    background-color: #2c3e50;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

/* Conteúdo Principal */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Títulos e Cabeçalhos */
header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.stats .stat {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.stats .stat h3 {
    font-size: 20px;
    color: #666;
}

.stats .stat p {
    font-size: 28px;
    font-weight: bold;
    color: #2c3e50;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f1f1f1;
}

table tr:hover {
    background-color: #f9f9f9;
}

.patients-table, .meal-plans {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .overview {
        flex-direction: column;
        align-items: center;
    }

    .stats .stat {
        width: 100%;
        margin-bottom: 20px;
    }
}

.centralizada {
    display: block;         
    margin-left: auto;       
    margin-right: auto;      
    max-width: 80%;          
    height: auto;            
    margin-top: 20px;        
}